[Unit]
Description=CrashPlan Backup Engine
After=network-online.target
Wants=network-online.target

[Service]

Type=forking
Restart={{ crashplan_systemd_restart_policy }}
PIDFile={{ crashplan_install_dir }}/CrashPlanEngine.pid
EnvironmentFile={{ crashplan_install_dir }}/bin/run.conf

WorkingDirectory={{ crashplan_install_dir }}

ExecStart={{ crashplan_install_dir }}/bin/CrashPlanEngine start
ExecReload={{ crashplan_install_dir }}/bin/CrashPlanEngine reload
ExecStop={{ crashplan_install_dir }}/bin/CrashPlanEngine stop

[Install]
WantedBy=multi-user.target
