#!/usr/bin/expect -f

spawn {{ install_src_dir }}/install.sh

set timeout -1

expect {
  "Press enter to continue with installation" { send "\r"; exp_continue }
  "Press enter to read the EULA" { send "\r"; exp_continue }
  "Do you accept and agree to be bound by the EULA" { send "yes\r"; exp_continue }
  "What parent directory do you wish to install CrashPlan into" { send "\r"; exp_continue }
  "/usr/local/crashplan does not exist.  Create /usr/local/crashplan" { send "y\r"; exp_continue }
  "What directory do you wish to link the CrashPlan executable to" { send "\r"; exp_continue }
  "What directory do you wish to store incoming backup data" { send "\r"; exp_continue }
  "What directory do you wish to store backups in" { send "\r"; exp_continue }
  "/usr/local/var/crashplan does not exist.  Create /usr/local/var/crashplan" { send "y\r"; exp_continue }
  "What directory contains your SYSV init scripts" { send "\r"; exp_continue }
  "/etc/init.d does not exist.  Create /etc/init.d" { send "\r"; exp_continue }
  "What directory contains your runlevel init links" { send "\r"; exp_continue }
  "/etc/rc.d does not exist.  Create /etc/rc.d" { send "\r"; exp_continue }
  "Is this correct" { send "y\r"; exp_continue }
  "Press Enter to complete installation." { send "\r"; exp_continue }
  eof { puts "DONE!" }
}
