#!/bin/bash

if [ -f /var/run/dont-autostart-crashplan ]; then
  exit 0
fi

CALLBACK_SCRIPT=$1

if /usr/sbin/service crashplan status | grep 'is stopped'; then
  MEM_SETTING=$(/bin/grep ^SRV_JAVA_OPTS {{ crashplan_install_dir }}/bin/run.conf | /bin/sed -Ee 's/.* (-Xmx.*m) .*/\1/')
  MESSAGE="crashplan had crashed. Memory setting: ${MEM_SETTING}"
  /usr/bin/logger "${MESSAGE}"
  if [ -x "${CALLBACK_SCRIPT}" ]; then
    "${CALLBACK_SCRIPT}" "${MESSAGE}"
  fi
  /usr/sbin/service crashplan start
fi
